.parallax {
    /* The image used */
    background-image: url("https://animals.sandiegozoo.org/sites/default/files/2016-08/hero_zebra_animals.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box{
    height:100px;background-color:grey;font-size:36px
  }

  .parall{
     /* The image used */
     background-image: url("https://cdn.britannica.com/92/100692-050-5B69B59B/Mallard.jpg");
     min-height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .paralla{
    background-image: url("https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg");
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

